.container{
    margin-bottom: 80px;
   
   
}
.lightpink-bg{
    background-color: lightskyblue;
    border-radius: 20px;
}
.carousel-item{
    padding: 25px 50px;
}
.buy-now-button{
   background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
#product p{
    color: gray;
}
.card{
    border:none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightgreen;
}
.bd-highlight2{
    color: orange;
}
.container h6{
    text-align:center;
    color: blue;
}
.catagories img{
   widows: 100px;
}